# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build
node_modules
dist
dist-tsc
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local
